<!DOCTYPE html>
<html>
<head>
	<title>Pokemon API Demo</title>
	<script src="https://unpkg.com/vue@next"></script>
	<script src="https://unpkg.com/axios@latest"></script>
</head>
<body>
	<div id="app">
		<h1>Pokemon API Demo</h1>
		<div v-if="loading">Loading...</div>
		<div v-if="error">{{ error }}</div>
		<div v-if="loaded">All Pokemon Loaded</div>
	</div>

	<script>
		const app = Vue.createApp({
			data() {
				return {
					loading: false,
					error: null,
					loaded: false,
				};
			},
			mounted() {
				this.loading = true;
				const pokemonNames = ['ditto', 'pikachu', 'bulbasaur'];
				axios.all(pokemonNames.map(this.loadPokemon))
					.then(axios.spread(() => {
						this.loading = false;
						this.loaded = true;
					}))
					.catch(error => {
						this.loading = false;
						this.error = `Error loading Pokemon: ${error}`;
						console.log(error);
					});
			},
			methods: {
				loadPokemon(pokemonName) {
					return axios.get(`https://pokeapi.co/api/v2/pokemon/${pokemonName}`)
						.then(response => {
							console.log(`${pokemonName} loaded successfully`);
						})
						.catch(error => {
							console.log(`Error loading ${pokemonName}:`, error);
							throw error;
						});
				},
			},
		});

		app.mount('#app');
	</script>
</body>
</html>
